include partials/header 

include partials/site_header
include partials/nav

div(class="catalog")
    div(class="container")
        div(class="catalog__inner")
            each val, index in goods 
                include partials/card

include partials/footer


