include partials/header 

include partials/site_header
include partials/nav

div(class="catalog")
    div(class="container")
        div(class="catalog__inner") 
            each val2, index2 in categories
                div(class="catalog__category")
                    h2(class="catalog__category-title") 
                        a(class="catalog__category-title__link" href=`/cat?id=${val2.id}`) #{val2.category} 
                    div(class="catalog__category-inner")
                        each val, index in goods 
                            if val2.id == val.category
                                include partials/card

include partials/footer


