footer(class="footer")
    div(class="container")
        div(class="footer__inner")
            p(class="footer-text") Alex Shop. All rights reserved

script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
script(src="js/nav.js")
script(src="js/cart.js")